
<div class="w-full max-w-md pb-2 mx-48 my-10  mb-0 bg-white dark:bg-[#4a4a4b] rounded-2xl shadow-lg sm:pt-2">
  <div class="w-30 h-30 bg-[url('assets/logo_1.svg')] bg-contain"></div>
  <p class="text-3xl dark:text-white justify-items-center w-100  relative bottom-15 left-30 font-bold">Communicate better</p>
</div>

<div class="w-200 h-154 bg-[url('assets/undraw_data-trends_kv5v.svg')] absolute right-30 top-10"></div>
<div class="my-30 flex items-center justify-start px-4 mx-45">
  <div class="w-full max-w-md p-10 bg-white dark:bg-[#4a4a4b] rounded-2xl shadow-lg sm:p-15">
    <h2 class="text-2xl font-bold text-center mb-6 dark:text-white">Přihlášení</h2>
    <form class="space-y-5">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Email</label>
        <input
          type="email"
          id="email"
          class="mt-1 w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400 dark:text-white"
          placeholder="email@domena.cz"
        />
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700 dark:text-white">Heslo</label>
        <input
          type="password"
          id="password"
          class="mt-1 w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400 dark:text-white"
          placeholder="••••••••"
        />
      </div>

      <button
        type="submit"
        class="w-full py-2 px-4 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-200"
      >
        Přihlásit se
      </button>
    </form>
    <p class="mt-4 text-sm text-center text-gray-600 dark:text-gray-400">
      Nemáš účet?
      <a href="#" class="text-blue-600 hover:underline">Zaregistruj se</a>
    </p>
  </div>
</div>
